@import "tailwindcss";

@theme {
  --font-sans: "Tajawal", ui-sans-serif, system-ui;
  --color-medical-bg: #F0F4F8;
  --color-medical-surface: #FFFFFF;
  --color-medical-primary: #0D6EFD;
  --color-medical-vip: #FFD700;
  --color-medical-action: #25D366;
}

@layer utilities {

  /* هذه الإضافة السحرية لإخفاء شريط التمرير المزعج في الهاتف مع إبقاء السحب يعمل */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}